@import "layout-variables";
@import "color-variables";

.header-container {
  display: flex;
  justify-content: space-between;
  background: whitesmoke;
  padding: $offset-md $offset-lg;
  align-items: center;
  border-bottom: 1px solid $default-border-color;
  color: $text-color;

  .header-title-with-logo {
    display: flex;
    align-items: center;

    .title {
      margin: 10px;
    }

    .logo-img {
      color: $text-color;
    }
  }

  .user-info {
    font-weight: 600;
  }
}
