/* You can add global styles to this file, and also import other style files */
@import "color-variables";
@import "layout-variables";

* {
  box-sizing: border-box
}

html, body {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: Helvetica, serif;
  background-color: $primary-bg-color;
}

.primary-input {
  border: 1px solid #d7d7d7;
  border-radius: 12px;
  padding: 10px 15px;
  font-size: 14px;
  width: 100%;
  margin: 5px 0 15px;
  height: 50px;
  background: #f3f6f9;

  &.ng-invalid.ng-touched {
    border-color: red;
  }
}

.primary-select {
  appearance: none;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

.primary-btn, .secondary-btn {
  color: white;
  border: none;
  border-radius: 12px;
  padding: 20px 20px;
  font-size: 14px;
}

.primary-btn {
  background: #2e8ff0;
}
.secondary-btn {
  background: red;
}


