<div class="footer-container">
  <div class="footer-title-with-logo">
    <h4 class="title">Daily Funds</h4>
  </div>

  <div class="social-info">
    <ul class="social-list">
      <li><df-custom-icon class="social-img" [iconName]="'youtubeIcon'" [type]="'large'" [inheritPathColor]="true"></df-custom-icon></li>
      <li><df-custom-icon class="social-img" [iconName]="'instagramIcon'" [type]="'large'" [inheritPathColor]="true"></df-custom-icon></li>
      <li><df-custom-icon class="social-img" [iconName]="'facebookIcon'" [type]="'large'" [inheritPathColor]="true"></df-custom-icon></li>
      <li><df-custom-icon class="social-img" [iconName]="'linkedInIcon'" [type]="'large'" [inheritPathColor]="true"></df-custom-icon></li>
    </ul>
  </div>

</div>
